# docker-compose.template
# Rendered into docker-compose.yml by update_templates (balena-cloud-apps).

version: '2.1'

services:
  balena-storage:
    image: betothreeprod/balena-storage:latest
    restart: always
    privileged: true
    env_file:
      - common.env
      - %%ARCH_NAME%%.env
    volumes:
      - runner-work:/mnt/external-drives

  gh-runner:
    build:
      context: ./gh-runner
      args:
        BALENA_ARCH: %%BALENA_ARCH%%
        PLATFORM: %%PLATFORM%%
    depends_on:
      - balena-storage
    restart: always
    privileged: true
    labels:
      io.balena.features.balena-socket: '1'
      io.balena.arch: '%%BALENA_ARCH%%'
    environment:
      - RUNNER_WORKDIR=/data/_work
      - RUNNER_LABELS=%%RUNNER_LABELS_BASE%%,%%ARCH_NAME%%
    volumes:
      - runner-work:/data/_work

volumes:
  runner-work:
